<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
            <h1 style="color: white;font-weight: 900;margin-top: 4rem;"></h1>
            <h4 style="color: white;"></h4>
           
        </div>
        <div class="col-md-9 register-right">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h1 class="register-heading"> <b>CycleHub AdminPanel</b> </h1>
                       
                        <div class="row register-form">
                           <div class="col-md-9">
                               <form action="/admin/login" method="post" id="loginSubmit">
                                   <div class="form-group">
                                     <input type="email" class="form-control" placeholder="Admin Email *" name="email" id="email" value=""/>
                                     <span id="email-error" style="color: #F90A0A;"></span>
                                  </div>
                                  <div>
                                      <a href="#" style="color:#495057 ;">forgot password?</a>
                                   </div>
                                   <div class="form-group">
                                     <input type="password" class="form-control" placeholder="Password *" name="password" id="password" value=""/>
                                     <span id="password-error" style="color: #F90A0A;"></span>
                                  </div>
                                  <div>
                                    <div  class="form-group">
                                    <button type="submit" class="btnRegister" style="margin-top: 0rem;">Login</button>
                                   </div>
                                  <!-- <input type="submit" class="btnRegister" value="Sign In"/> -->
                                    <!-- <a href="" style="color:#495057 ;text-align: center;margin-left: 12.5rem;" >login with otp</a> -->
                                 <% if(message){%>
                                  <span class="text-danger error-message"><%=message%></span>
                                  <script>
                                      setTimeout(()=>{
                                          var message = document.querySelector('.error-message');
                                          if(message){
                                              message.style.display="none"
                                          }
                                      },5000)
                                  </script>
                                  <% } %>
                              </form>
                              <!-- <hr style="margin-top: 1.5rem;"><br> -->
                            
                            </div>
                        </div> 
                </div>
                
            </div>
        </div>
    </div>
</div>

<script src="/validation/userLogin.js"></script>