
        <div class="container register">
            <div class="row">
                <div class="col-md-3 register-left">
                    <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                    <h1 style="color: white;font-weight: 900;margin-top: 4rem;">Welcome</h1>
                     <h4 style="color: white;">Keep Healthy,
                        Ride Your Cycle</h4>
                 </div>
                <div class="col-md-9 register-right">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <h1 class="register-heading"> <b>Create an Account </b></h1>
                            <div class="row register-form">
                                <div class="col-md-6">

                                    <form action="/signup" method="post"  id="signupSubmit">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="First Name *"  name = "firstName"  id ="fname" value=""/>
                                        <span id="fname-error" style="color: #F90A0A;"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Your Email *" name="email" id="email" value=""/>
                                        <span id="email-error" style="color: #F90A0A;"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Password *" name="password" id="password" value=""/>
                                        <span id="password-error" style="color: #F90A0A;"></span>
                                    </div>
                                   
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Last Name *" name="lastName" id="lname" value=""/>
                                        <span id="lname-error" style="color: #F90A0A;"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" minlength="10" maxlength="10" name="phoneno" class="form-control" placeholder="Your Phone *" id="phone" value=""/>
                                        <span id="phone-error" style="color: #F90A0A;"></span>
            
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Confirm Password *" name="confirmPassword" id="cpassword" value=""/>
                                        <span id="cpassword-error" style="color: #F90A0A;"></span>
                                    </div>
                                    <div  class="form-group">
                                        <button type="submit" class="btnRegister" style="margin-top: 0rem;">Sign In</button>
                                        <span id="submit-error"></span>
                                        <% if(locals.message){%>
                                        <span class="text-danger error-message"><%=message%></span>
                                        <script>
                                            setTimeout(()=>{
                                                var message = document.querySelector('.error-message');
                                                if(message){
                                                    message.style.display="none"
                                                }
                                            },5000)
                                        </script>
                                        <% } %>
                                    </div>
                                </div>
                                <div>
                                    <a href="/login" style="color:#495057 ;"> Already have account?</a>
                                </div>
        
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/validation/userSignup.js"></script>

   